<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>İletişim Formu</h1>

<form action="/submit-feedback" method="POST">
    <label>İsim:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Mesaj:</label><br>
    <textarea name="message" rows="5" required></textarea><br><br>

    <button type="submit">Gönder</button>
</form>

</body>
</html>
